@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(pictures/black-stone-background-4k-stone-textures-grunge-backgrounds-stone-wall.jpg);
    background-size: cover;
    color: #fff;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: top 2s;
}

.container > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

h1 {
    font-size: 83px;
    user-select: none;
    font-family: "Staatliches", cursive;
    font-weight: 400;
}

.qr-picture {
    width: 50%;
    height: 65%;
    background-image: url(pictures/kisspng-laptop-macbook-pro-macbook-air-apple-computer-screen-5acd2fc7940699.8851771815233965516063.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#home {
    display: flex;
    justify-content: space-around;
}
#home a{
    position: absolute;
    top: 10px;
    right: 40px;
}

.home-text {
    width: 40%;
    font-size: 110px;
    word-wrap: break-word;
}

#home span {
    font-size: 72px;
    background: -webkit-linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #00dbde;
    font-size: 140px;
}

#first-project {
    justify-content: flex-start;
}

.picture {
    margin-left: 100px;
}

.text {
    height: 27%;
    width: 30%;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 0;
    opacity: 0;
    transition: left, width, 2s;
    overflow: hidden;
    text-shadow: 4px 3px 6px rgb(0 0 0 / 46%);
}

#second-project,
#fourth-project,
#sixth-project {
    justify-content: flex-end;
}

.project-two-picture {
    margin: 0px 100px 0px -87px;
}

.two-text-container {
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
    left: 30%;
}

.one-text-container {
    background-color: #4158d0;
    background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
    right: 30%;
}

.three-text-container {
    background-color: #fa8bff;
    background-image: linear-gradient(45deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%);
    right: 30%;
}

.four-text-container {
    background-color: #fad961;
    background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
    left: 30%;
}

.five-text-container {
    background-color: #74ebd5;
    background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
    right: 30%;
}

.six-text-container {
    background-image: linear-gradient(135deg, #70f570 10%, #49c628 100%);
    left: 30%;
}

.container-laptopk {
    text-align: center;
}

.mockup {
    display: inline-block;
    position: relative;
    z-index: 3;
    text-align: center;
    font-size: 0;
    perspective: 2400px;
    perspective-origin: 50% 100%;
    opacity: 0;
    transition: 500ms opacity;
}

.mockup.loaded {
    opacity: 1;
}

.mockup .part .top,
.mockup .part .bottom {
    position: absolute;
    top: 0;
    left: 0;
}

.mockup .part.top {
    transform: translate3d(0, 0, 0) rotateX(-90deg);
    transition-duration: 1s;
}

.mockup .part.top.hover {
    transform: translate3d(0, 0, 0) rotateX(0deg);
}

.mockup .part {
    display: inline-block;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform-origin: 50% 100%;
    transition: 900ms;
}

.mockup .part .top {
    transform: translate3d(0, 0, -11px) rotateX(90deg) scale(1, 1);
}

.mockup .part .top {
    transform-origin: 50% 0;
    transform: translate3d(0, 0, -11px) rotateX(90deg);
    transition: 900ms;
}

.mockup img {
    display: block;
    max-width: 100%;
    backface-visibility: hidden;
}

.mockup .part .cover {
    position: relative;
}

.mockup video {
    display: block;
    position: absolute;
    top: 6%;
    left: 3%;
    width: 95%;
    border-radius: 6px;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 1px);
}

.mockup .part.bottom {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0) rotateX(-90deg);
}

.mockup .part .bottom {
    transform-origin: 50% 0;
    transform: translate3d(0, 0, 0) rotateX(90deg);
}

.btn,
.btn-up {
    width: 100px;
    height: 50px;
    border: none;
    position: fixed;
    top: calc(100vh - 70px);
    left: calc(50vw - 25px);
    font-size: 60px;
    z-index: 1;
    color: #d3d3d38c;
    background-color: #f0f8ff00;
    cursor: pointer;
    user-select: none;
}

.btn-up{
    display: none;
}

.btn:hover,
.btn-up:hover {
    color: rgb(158, 156, 156);
}

a {
    color: black;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 10px;
}

a:link {
    font-weight: bold;
}

a:visited {
    color: rgb(83, 81, 81);
}

.carusel {
    display: none;
}

@media (max-width: 1750px) {
    .home-text {
        font-size: 75px;
    }

    #home span {
        font-size: 75px;
    }

    #home a {
        font-size: 20px;
    }
    .text {
        height: 18%;
    }

    .mockup video {
        width: 95%;
        height: 91%;
        top: 6%;
        left:10px;
    }

    .mockup {
        max-width: 650px;
    }

    .project-two-picture {
        margin: 0px 100px 0px 0px;
    }
    .one-text-container,
    .three-text-container,
    .five-text-container {
        padding-left: 20%;
    }
    .two-text-container,
    .four-text-container,
    .six-text-container {
        padding-right: 20%;
    }

    h1 {
        font-size: 50px;
    }
    a {
        font-size: 15px;
    }
}

@media (max-width: 1260px) {
    .home-text {
        width: 40%;
        font-size: 72px;
        word-wrap: break-word;
    }
    #home span{
        font-size: 72px;
    }
    .container > div {
        width: 100vw;
    }

    .text {
        height: 18%;
    }

    h1 {
        font-size: 40px;
    }
    .mockup video {
        left: 11px;
    }

    .mockup {
        width: 550px;
    }
    .project-two-picture {
        margin: 0px 104px 0px 0px;
    }
    a {
        font-size: 11px;
    }
}

@media (max-width: 1087px) {
    #home {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .home-text {
        width: 70%;
        font-size: 100px;
        word-wrap: break-word;
        margin: auto;
    }
    #home span{
        font-size: 100px;
    }
    #home a {
        display: block;
        margin-right: 20px;
        font-size: 23px;
        text-align: right;
    }
    .qr-picture {
        display: none;
    }
    .container > div {
        justify-content: space-between;
    }

    #first-project {
        flex-direction: column;
        justify-content: space-between;
    }

    .text {
        position: static;
        padding: 0px;
        color: rgb(191, 186, 186);
        width: 100vw !important;
        opacity: 1;
        right: 0px !important;
        height: 100%;
        transition: none;
        background: none;
        justify-content: space-evenly;
    }

    video {
        top: 0px;
        height: 73vh;
        width: 100%;
    }

    h1 {
        font-size: 80px;
    }

    a {
        width: 100%;
        font-size: 30px;
    }

    #second-project,
    #fourth-project,
    #sixth-project,
    #third-project,
    #fiveth-project {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .btn,
    .btn-up {
        left: calc(50vw - 54px);
    }

    .two-text-container h1 {
        font-size: 60px;
    }

    .five-text-container h1 {
        width: 100%;
        font-size: 60px;
    }

    .six-text-container h1 {
        width: 100%;
        font-size: 60px;
    }

    .picture {
        display: none;
    }

    a {
        color: rgb(191, 186, 186);
    }


    .carusel {
        display: block;
        max-width: 100vw;
        margin: 20px auto 0px;
    }

    .carusel img {
        width: 800px;
        height: 500px;
    }

}

@media (max-width: 780px) {
    #home a {
        margin-right: 30px;
    }
    .home-text {
        width: 88%;
        font-size: 70px;
        word-wrap: break-word;
    }
    #home span {
        font-size: 70px;
    }
    .carusel img {
        width: 100%;
        height: 300px;
    }
    .btn, 
    .btn-up {
        left: calc(50vw - 54px);
        top: calc(100vh - 48px);
    }
}
